<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<!-- Use servlets instead of JSP to avoid time consuming configuration and extra dependencies -->
<servlet>
    <servlet-name>ParamsServlet</servlet-name>
    <servlet-class>net.sourceforge.jwebunit.tests.util.ParamsServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>CookiesServlet</servlet-name>
    <servlet-class>net.sourceforge.jwebunit.tests.util.CookiesServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>net.sourceforge.jwebunit.tests.util.RedirectServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ParamsServlet</servlet-name>
    <url-pattern>/params.jsp</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>CookiesServlet</servlet-name>
    <url-pattern>/cookies.jsp</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect.jsp</url-pattern>
</servlet-mapping>

<security-constraint>
   <web-resource-collection>
     <web-resource-name>A Protected Page</web-resource-name>
     <url-pattern>/*</url-pattern>
   </web-resource-collection>

   <auth-constraint>
     <role-name>admin</role-name>
     <role-name>user</role-name>
     <role-name>moderator</role-name>
   </auth-constraint>
</security-constraint>

  <login-config>
   <auth-method>DIGEST</auth-method>
   <realm-name>MyRealm</realm-name>
  </login-config>

</web-app>