BODY {
    margin-left: 5%;
    margin-right: 10%;
}

td {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #3333ff;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: left;
    color: #3333ff;
}

h1 a:link {
    text-decoration: none;
    color: #3333ff;
}

h1 a:visited {
    text-decoration: none;
    color: #3333ff;
}

h1 a:hover {
    background-color: #FFFFFF;
}

dt {
    color: #3333ff;
    font-weight: bold;
    margin-top: 2ex;
    margin-left: 1em;
}

address {
    color: gray;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

pre {
    white-space: pre;
    background-color: #CCCCCC;
    padding: 2px;
    color: black;
    width: 100%;
    border: solid black 1px;
    font-size: 8pt;
}

table.wiki {}

tr.wiki {} /* for */

td.wiki {
    font-family: Times, sans-serif;
}

td.menu {
    font-size: 90%;
    border-top: solid thin #666666;
    border-bottom: solid thin #666666;
    padding: 5px;
    word-spacing: 10px;
}

td.menu a {
	color: #3333ff;
}

.error {
    color: red;
    background-color: #CCCCCC;
}