a:hover {
	background-color: #CCCCCC;
}

table {
    font-family: verdana, arial, helvetica, Sans-Serif;
}

td {
    padding: 3px;
    font-family: verdana, arial, helvetica, Sans-Serif;
}

body {
    background-repeat: no-repeat;
    color: black;
    margin-left: 5%;
    margin-right: 20%;
    font-family: verdana, arial, helvetica, Sans-Serif;
}

h1 {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-align: left;
}

h1 a:link {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-decoration: none;
    color: #3333ff;
}
h1 a:visited {
    font-family: verdana, arial, helvetica, Sans-Serif;
    text-decoration: none;
    color: #3333ff;
}

h1 a:hover {
    background-color: #FFFFFF;
}

dt {
    font-weight: bold;
    margin-top: 2ex;
    margin-left: 1em;
}

address {
    color: gray;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

pre {
    white-space: pre;
    background-color: #CCCCCC;
    color: black;
    width: 100%;
    padding: 3px;
    border: solid black 1px;
    font-family: sans-serif;
    font-size: 8pt;
}

table.wiki {
    display: table;
    border-color: #666666;
    border-style: solid;
    border-width: thin;
}

tr.wiki {} /* for */

td.wiki {
    font-family: Times, serif;
    font-size: 100%;
    border-color: #666666;
    border-style: solid;
    border-width: thin;
}

td.menu {
    font-family: verdana, arial, helvetica, Sans-Serif;
    font-size: 90%;
    border-top: solid thin #666666;
    border-bottom: solid thin #666666;
    padding: 5px;
    word-spacing: 10px;
    background-color: #CCCCCC;
}

td.menu a {
    text-decoration: none;
	color: #3333ff;
}

td.menu a:hover {
	background-color: #FFFFFF;
}

.error {
    color: red;
    background-color: #CCCCCC;
}